<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>toan ly hoa</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController"> 
   <h3> Toán </h3>
   <input type ="number" id="math" ng-model="math" required></br>
   <h3>Hóa</h3>
   <input type = "number" id="chemistry" ng-model="chemistry"></br>
   <h3>Lý</h3>
   <input type = "number" id="physic" ng-model="physic"></br>
   <input type="button" value="Calculate" ng-click="Calc()"> </br>
  
   <h3>Tổng {{total}}</h3>
   <h3>Trung bình {{average}}</h3>
   <script>
       var app = angular.module('myApp',[]);
       app.controller('myController', function($scope){
            $scope.math=0;
            $scope.chemistry=0;
            $scope.physic=0;
            $scope.average="";
            $scope.total="";
            $scope.Calc=function (){
                $scope.total = $scope.math + $scope.chemistry + $scope.physic;
                $scope.average = ($scope.math + $scope.chemistry + $scope.physic)/3
            }
       });
   </script>
</body>
</html>   